apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
spec:
  project: default
  sources:
    - chart: longhorn
      repoURL: https://charts.longhorn.io
      targetRevision: 1.5.3
      helm:
        parameters:
        - name: persistence.defaultClassReplicaCount
          value: "1" 
        - name: preUpgradeChecker.jobEnabled 
          value: "false"
    - repoURL: https://github.com/khalilstout/HomeLab.git
      targetRevision: HEAD
      path: longhorn 
      
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true