apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-options: SkipHooks=true
spec:
  project: default
  sources:
    # ON GARDE JUSTE HELM (Le logiciel officiel)
    - chart: longhorn
      repoURL: https://charts.longhorn.io
      targetRevision: 1.5.3
      helm:
        parameters:
        - name: persistence.defaultClassReplicaCount
          value: "1"
        - name: preUpgradeChecker.jobEnabled
          value: "false"

  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
    
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - SkipHooks=true